.blis-custom-entity {
  position: relative;
}

.blis-custom-entity__text {
  display: inline-block;
  /* Causes jump in text when applied
     find out how to make it inset */
  /* border: 1px solid transparent; */
  position: relative;
  border-radius: 3px;
  line-height: 1.6em;
}

.blis-custom-entity--is-editing .blis-custom-entity__text {
  /* border-color: rgb(94, 212, 94); */
  background: rgba(187, 255, 187, 1.0);
}

.blis-custom-entity-indicator {
  display: inline-block;
  position: absolute;
  width: 100%;
  line-height: 1em;
  font-size: 0.75rem;
  text-align: center;
  z-index: 1;
  bottom: calc(2em);
  color: greenyellow;
}

.blis-custom-entity-indicator__buttons {
  position: absolute;
  bottom: 20px;
  width: 200%;
  transform: translate(-25%);
}

.blis-custom-entity-indicator__buttons button {
  font-size: 0.75rem;
  padding: 0.0em 0.2em;
  margin: 0;
  background: green;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 50%;
}
.blis-custom-entity-indicator__buttons button:not(:last-of-type) {
  margin-right: 5px;
}

.blis-custom-entity-indicator__name {
  cursor: pointer;
}

.blis-custom-entity-indicator__bracket {
  height: 5px;
  border: 2px solid greenyellow;
  border-bottom: none;
}