.custom-toolbar {
  position: absolute;
  transform: translate(-50%); /* scale(0); */
  opacity: 0.5;
  /* visibility: hidden; */
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  border-radius: 2px;
}

.custom-toolbar--visible {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%) scale(1);
  transition: transform 0.15s cubic-bezier(.3,1.2,.2,1);
}

.custom-toolbar__search {
  padding: 0.5em;
}
.custom-toolbar__input {
  padding: 0.25em;
  border: 1px solid lightgrey;
}

.custom-toolbar__results {
  padding: 0.5em;
  border-bottom: 1px solid lightgrey;
}